html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
}


.committee{
	display: table;
	margin: 5% auto 0;
	text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
	font-size: 3em;
	font-weight: 700;
	text-shadow: 0 1px white, 0 2px black;
  
}
#team-1{
      color: #fff;
      background-color: rgb(16, 16, 16);
      background-size: cover;
      overflow-x: hidden;
}
#team-2{
      color: #fff;
      background-color: rgb(16, 16, 16);
      background-size: cover;
      overflow-x: hidden;
}
#team-3{
      color: #fff;
      background-color: rgb(16, 16, 16);
      background-size: cover;
      overflow-x: hidden;
}
#team-4{
      color: #fff;
      background-color: rgb(16, 16, 16);
      background-size: cover;
      overflow-x: hidden;
}
#team-5{
      color: #fff;
      background-color: rgb(16, 16, 16);
      background-size: cover;
      overflow-x: hidden;
}
#team-6{
      color: #fff;
      background-color: rgb(16, 16, 16);
      background-size: cover;
      overflow-x: hidden;
}
#wrap,#wrap-4,#wrap-5 {
      width: 980px;
      left: -490px;
      top: 6%;
      margin-top: 52px;
      margin-left: 50%;
      position: relative;
}

#wrap-2,#wrap-3,#wrap-6 {
      width: 1250px;
      left: -625px;
      top: 6%;
      margin-top: 52px;
      margin-left: 50%;
      position: relative;
}


#showcase ,#showcase-2,#showcase-3,#showcase-4,#showcase-5,#showcase-6 {
      width: 100%;
      height: 460px;
}
#item-title,#item-title-2,#item-title-3,#item-title-4,#item-title-5,#item-title-6 {
      color: #fff;
      font-size: 1.5em;
      letter-spacing: 0.13em;
      text-align: center;
      margin-top: -20px;
      margin-bottom: 32px;
      font-family: 'Poppins', sans-serif;
}


.nav {
      text-align: center;
      justify-content: center;
      
}

.nav > button {
      width: 60px;
      height: 60px;
      color: #fff;
      text-align: center;
      background: rgb(133, 13, 19);
      border: none;
      cursor: pointer;
}
.nav >  button:hover{background: rgb(133, 13, 19);}

.nav > button:focus {
      border: none;
      outline: none;
}

@media screen and (max-width:600px){
      
      .committee{
            font-size: 6vw;
      }

      #wrap {
            width: 600px;
            left: -300px;
            top: 6%;
            margin-top: 52px;
            margin-left: 50%;
            position: relative;
      }
      #wrap-4,#wrap-5 {
            width: 500px;
            left: -250px;
            top: 6%;
            margin-top: 52px;
            margin-left: 50%;
            position: relative;
      }

      #wrap-2,#wrap-3 {
            width: 500px;
            left: -250px;
            top: 6%;
            margin-top: 52px;
            margin-left: 50%;
            position: relative;
      }
      #showcase ,#showcase-2,#showcase-3,#showcase-4,#showcase-5 {
            width: 100%;
            height: 300px;
      }
      #showcase img {
            width: 30%;
            height: auto;
      }
      #showcase-2 img {
            width: 30%;
            height: auto;
      }
      #showcase-3 img {
            width: 30%;
            height: auto;
      }
      #showcase-4 img {
            width: 30%;
            height: auto;
      }
      #showcase-5 img {
            width: 30%;
            height: auto;
      }
     .nav > button {
      width: 40px;
      height: 40px;
      color: #fff;
      text-align: center;
      background: rgb(133, 13, 19);
      border: none;
      cursor: pointer;
      }
}
